.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 3rem;
    background-color: var(--color-header);
    color: var(--color-prm-txt);
}

.footerLeft {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.footerLogoSection {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.footerLogoImg {
    width: 37px;
}

.footerLogoText {
    font-size: 1.2rem;
    font-weight: 600;
}

.footerCopy {
    margin-top: 0.4rem;
    color: var(--color-sec-txt);
    font-size: 0.9rem;
}

.footerRight h4 {
    margin-bottom: 0.8rem;
}

.socialIcons {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}

@media (max-width: 700px) {
    .footerContainer {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
}
