.searchBox {
    flex-grow: 1;
    background-color: var(--color-card);
    border: 1px solid color-mix(in srgb, var(--color-sec-txt) 25%, transparent);
    border-radius: 8px;
    padding: 12px 16px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.searchIcon {
    color: var(--color-sec-txt);
}

.searchInput {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-prm-txt);
    font-size: 16px;
    width: 100%;
}

.searchInput::placeholder {
    color: var(--color-sec-txt);
}