:root {
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-prm-txt);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
